.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  opacity: 1;
}

/* Very dark purple background matching canvas top */
body {
  background: #05000a;
}
